<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.com.almasud.augmented_school">

    <!-- Both "AR Optional" and "AR Required" apps require CAMERA permission. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- INTERNET permission is required to download files from server. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- FOREGROUND_SERVICE permission is required from Android Oreo or API level 26 or higher. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.github.com.almasud.augmented_school.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
         "AR Optional" apps, contains non-AR features that can be used when
             "Google Play Services for AR" (ARCore) is not available.
        -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <service
            android:name="com.github.com.almasud.augmented_school.service.UnzipService"
            android:enabled="true"
            android:exported="false"
            android:icon="@drawable/app_logo"
            android:label="@string/service_unzip" />

        <service
            android:name="com.github.com.almasud.augmented_school.service.DownloadService"
            android:enabled="true"
            android:exported="false"
            android:icon="@drawable/app_logo"
            android:label="@string/service_download" />

        <activity
            android:name="com.github.com.almasud.augmented_school.ui.activity.LearnArActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.github.com.almasud.augmented_school.ui.activity.LearnActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.github.com.almasud.augmented_school.ui.activity.ScanActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.github.com.almasud.augmented_school.ui.activity.TestActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.github.com.almasud.augmented_school.ui.activity.SubjectChooseActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.github.com.almasud.augmented_school.ui.activity.HomeActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.github.com.almasud.augmented_school.ui.activity.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>